<div class="w-full relative">
    <img class="absolute top-10 z-10 w-[1000px] left-0 right-0 m-auto" src="/logo-home.svg" alt="Esland - Premios a la comunidad hispanohanlante de Streaming.">
    <video 
        class="w-full h-auto object-cover object-top animate-fade animate-ease-in-out animate-duration-1000"
        src="/video.mp4" 
        autoplay loop muted 
        style="clip-path: polygon(0 0, 100% 0, 100% 66%, 50% 99%, 0 67%);" 
    ></video>
    <video 
        class="absolute -bottom-48 blur-3xl -z-40"
        src="/video.mp4" 
        autoplay loop muted  
    ></video>
</div>